* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

* select, * button {
  background-color: whitesmoke;
  display: block;
  padding: 5px;
  border: none;
}

html {
  background-color: #222;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#color-select {
  padding: 0px;
}

/* your CSS below! */
td {
  background-color:lightgray;
  height: 50px;
  width: 50px;
}

.redCell {
  background-color: red;
}

.aquaCell {
  background-color: aqua;
}

.orangeCell {
  background-color: orange;
}

.controls {
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: stretch;
  justify-content:center;
  flex-wrap: wrap;
  margin: 10px;
  color: black;
}


.controls * {
  background-color: whitesmoke;
  color: black;
}

.controls * {
  text-align: center;
}

#adjust-buttons {
  align-items: center;
}

#column-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  align-content: center;
}


