* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

html {
  background-color: #222;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
select {
  padding: 0px;
  height: 1.5em;
}

/* your CSS below! */
td {
  background-color:lightgray;
  height: 50px;
  width: 50px;
}

.redCell {
  background-color: red;
}

.aquaCell {
  background-color: aqua;
}

.orangeCell {
  background-color: orange;
}